@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.cardItem{
    background-color:#3A506B ;
    border-radius: 10px;
}

.itemHeader{
    height: 48px;
    text-align: center;
    color: #F0F0F0;
    font-family:"poppins";
    font-size: 18px;
}

.itemImg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.itemImgContainer{
    width: 270px;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.sectionItem{
    display: flex;
    justify-content: space-around;
}
.sectionItem p {
    color: #F0F0F0;
    font-size: 17px;
    font-family:"poppins";
}

footer{
    display: flex;
    justify-content: center;
}

.option{
    background-color: #F0F0F0;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-family:"poppins";
    color: #3A506B;
}